@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.monster-logo {
    height:60vh; 
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'Balsamiq Sans', cursive ;
    letter-spacing:-16px;
    font-size:180px;
    margin-top: -20px;
    margin-bottom: -120px;
}

.logo {
    position:relative;
}

.removeO {
    opacity:0;
}

.eye {
    cursor:pointer;
    top:35%;
    left:50%;
    position:absolute;
    height:90px;
    width:90px;
    border-radius:50%;
    background-color:#208A5E;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 0.4rem;
}

.eye-ball {
    position:absolute;
    top:60%;
    left:75%;
    transform:translate(-50%,-50%);
    background-color:#000;
    border-radius:50%;
    height:30px;
    width:30px;
    overflow:hidden;
}

.eye-ball-space {
    position:relative;
    background-color:#fff;
    height:70px;
    width:70px;
    border-radius:50%;
    overflow:hidden;
}

.inner-eye-ball {
    position:absolute;
    height:10px;
    width:10px;
    background-color:white;
    border-radius:50%;
    top:30%;
    left:50%;
}

header nav ul{
    display: flex;
    z-index: 0;
    background-color: black;
    color: white;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
    font-size: x-large;
    margin: 14px;
    padding: 8px;
    font-family: 'Nunito',sans-serif;
}
header nav ul li:hover{
    color: blue;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top:2.3rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}

.toggle-button .bar {
    height:3px;
    width:100%;
    border-radius: 10px;
    background-color: white;
}

.download {
    border-radius: 20px;
    padding:12px 8px;
    font-family: 'Nunito', sans-serif;
    border:none;
    background-color: #208A5E;
    color:white;
    width:260px;
    font-size:20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.download:hover {
    background-color: blue;
    background: linear-gradient(to right, blue, purple);
}

.download-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.download-parent a {
    margin-right: 10px;
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    color:black;
}

.hero{
    background-color: #b4ddf0;
    height: 100vh;
}

.tagline {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    font-size: 20px;
}

@media screen and (min-width: 483px) and (max-width: 920px) {
    .logo {
        font-size: 90px;
        letter-spacing: -8px;
    }
    .eye {
        display: none;
    }
    .removeO {
        opacity: 100;
    }
}

@media screen and (min-width: 380px) and (max-width: 482px) {
    .logo {
        font-size: 68px;
        letter-spacing: -4px;
    }
    .tagline {
        font-size: 18px;
    }
    .eye {
        display: none;
    }
    .removeO {
        opacity: 100;
    }
}

@media screen and (min-width: 200px) and (max-width: 380px) {
    .logo {
        font-size: 60px;
        letter-spacing: -4px;
    }
    .tagline {
        font-size: 16px;
    }
    .eye {
        display: none;
    }
    .removeO {
        opacity: 100;
    }
}    

@media screen and (max-width:565px) {
    .download-parent {
        flex-direction: column;
    }
    .download {
        margin-bottom: 1px;
    }
    .chrome {
        margin-top: 50px;
    }
}
