:root {
  --color-grey-1:#E5E5E5;
  --color-grey-2:#F8F8F8;
  --color-grey-3:#A8AAAC;
  --color-primary:#40BF8A;
  --color-secondary:#EDF5E1;
  --color-secondary-light:#D9E2CA;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 35rem;
  width: 40rem;
  font-family: 'Actor', sans-serif;
}

nav {
  height: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.tab__favicon {
  height: 1.6rem;
  padding-left: 8px;
}

.tab__title {
  font-size: 1.2rem;
  padding-left: 8px;
  padding-right: 1.6rem;
  color: #BABABA;
}

.active {
  background-color: var(--color-grey-1);
}

.active .tab__title {
  color: #626262 !important;
}

header {
  height: 4rem;
  width: 100%;
  background-color: var(--color-grey-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-bar {
  margin-left: 8px;
  height: 2.4rem;
  background-color: var(--color-grey-2);
  width: 28.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2rem;
  margin-right: auto;
}

.address-bar__website {
  margin-left: 8px;
  color: var(--color-grey-3);
}

.address-bar__secured {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.options {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-grey-3);
  margin-right: 1.6rem;
}

.options:hover {
  background-color: #626262;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.monster-image {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px var(--color-secondary);
          box-shadow: 0 0 0 5px var(--color-secondary);
}

.card {
  width: 30rem;
  position: inherit;
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.25));
}

.card__header {
  background-color: var(--color-primary);
  width: 100%;
  height: 10rem;
  border-radius: 2px 2px 0 0;
  position: relative;
}

.card__header-mascot {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__image {
  position: absolute;
  left: 1.6rem;
  top: 4.8rem;
}

.card__name {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1.6rem;
  margin-top: 3.6rem;
  font-family: 'Balsamiq Sans', cursive;
  text-decoration: none;
}

.card__quote {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.4rem;
  padding-left: 1.6rem;
  margin: .5rem 0;
}

.card__tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-secondary-light);
  border-radius: 0 0 2px 2px;
  font-family: 'Open Sans', sans-serif;
}

.card__tabs-count {
  margin-left: 1.4rem;
  color: #05396B;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 900;
}

.card__tabs-count--label {
  color: #6F8192;
  font-size: 1.4rem;
  padding-left: 2px;
}
/*# sourceMappingURL=style.css.map */