:root {
  --color-grey-1:#E5E5E5;
  --color-grey-2:#F8F8F8;
  --color-grey-3:#A8AAAC;
  --color-primary:#40BF8A;
  --color-secondary:#EDF5E1;
  --color-secondary-light:#D9E2CA;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 35rem;
  width: 40rem;
  font-family: "Jost", sans-serif;
  background-color: #EDF5E1;
}

nav {
  height: 3rem;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tab__favicon {
  height: 1.6rem;
  padding-left: 8px;
}
.tab__title {
  font-size: 1.2rem;
  padding-left: 8px;
  padding-right: 1.6rem;
  color: #BABABA;
}

.active {
  background-color: var(--color-grey-1);
}

.active .tab__title {
  color: #626262 !important;
}

header {
  height: 4rem;
  width: 100%;
  background-color: var(--color-grey-1);
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-between;
}

.address-bar {
  margin-left: 8px;
  height: 2.4rem;
  background-color: var(--color-grey-2);
  width: 28.6rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  margin-right: auto;
}
.address-bar__website {
  margin-left: 8px;
  color: var(--color-grey-3);
}
.address-bar__secured {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.options {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-3);
  margin-right: 1.6rem;
}

.options:hover {
  background-color: #626262;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.monster-image {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--color-secondary);
}

.card {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.card__header {
  background-color: transparent;
  width: 100%;
  height: 6.4rem;
  position: relative;
  z-index: 2;
}
.card__content {
  background-color: white;
  border-radius: 5px;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.card__image {
  position: absolute;
  left: 0.8rem;
}
.card__name {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.card__name::before {
  content: "- @";
}
.card__quote {
  font-size: 1.4rem;
  padding-left: 1.6rem;
  padding-top: 3.5rem;
  font-weight: 500;
  padding-right: 1.6rem;
}
.card__tabs {
  width: 30rem;
  margin: 0 auto;
  background-color: #5CDB94;
  border-radius: 5px;
  height: 6rem;
  margin-top: 1rem;
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
}
.card__tabs-count {
  margin-left: 1.4rem;
  color: white;
  font-size: 3.2rem;
  display: flex;
  align-items: baseline;
  font-weight: 700;
}
.card__tabs-count--label {
  color: white;
  font-size: 1rem;
  padding-left: 2px;
  position: absolute;
}
.card__stats {
  color: #05396B;
  margin-left: auto;
}

.share {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #379F74;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share__options {
  display: flex;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem 1rem;
  border-radius: 2px;
  position: absolute;
  top: 3.5rem;
  right: 8px;
}
.share__option {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share__option:not(:last-child) {
  margin-right: 0.5rem;
}
.share__option:hover {
  background-color: var(--color-secondary-light);
}

.share:hover {
  background-color: #287655;
}

.hide {
  display: none;
}

.graph {
  background-color: #05396B;
  height: 14rem;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-radius: 5px 5px 0 0;
}

.bar {
  width: 20px;
  height: 0;
  margin-bottom: 0.5rem;
  background-color: var(--color-secondary);
  color: var(--color-secondary);
  position: relative;
}
.bar::before {
  content: attr(data-day); /* value that that refers to CSS 'content' */
  position: absolute;
  bottom: -3rem;
  left: 50%;
  font-size: 1.4rem;
  transform: translateX(-50%);
  color: #05396B;
}
.bar::after {
  content: attr(data-bar); /* value that that refers to CSS 'content' */
  position: absolute;
  top: -2rem;
  left: 50%;
  font-size: 1.4rem;
  transform: translateX(-50%);
}

.stats {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(var(--color-secondary) 20%, var(--color-secondary-light) 80%);
  align-items: flex-end;
  width: 30rem;
  height: 11rem;
  border-radius: 0 0 5px 5px;
}

.tabs {
  font-size: 3rem;
  padding: 0.8rem 1.5rem;
  color: #05396B;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-weight: 700;
}
.tabs__label {
  font-size: 1.2rem;
}
.tabs:hover {
  background-color: var(--color-secondary-light);
}/*# sourceMappingURL=style.css.map */